.vbox{
    -fx-background-color:  #4dacff;
    -fx-border-radius: 5px;
}

.title{
    -fx-background-color: #cc99ff;
}

.hop{
    -fx-border-width: 20px;
    -fx-start-margin: 10px;
}

.hopTT{
    -fx-background-color:  #3333cc;

}
.hopSC{
    -fx-background-color: #3333cc;

}

.noiDung{
    -fx-background-color:  #c2c2a3;
    -fx-font-style: italic;
}